#container{
	width: 1000px;
	height: 550px;
	background-color: #F1F1F1;
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #F1F1F1;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#output{
	height: 120px;
	background-color: #FFFFFF;
	
}
#history{
	text-align: right;
	font-size: 15px;
	color: #919191;
	position: absolute;
	width: 320px;
	height: 40px;
	margin-top: 20px;
	background: #F1F1F1;
}
#result{
	text-align: right;
	margin-top: 60px;
	font-size: 30px;
	position: absolute;
	background: #F1F1F1;
	width: 320px;
	height: 60px;
}
#input{
	margin: 5px;
	height: 390px; 
	background-color: #FFFFFF;
	
}
.operator,.num,.empty{
	margin: 12px 5px 5px 5px;
	border-radius: 50%;
	align-self: center;
	width:60px;
	height:60px;
	float: left;
	font-size: 30px;
}
button{
	border-style: none;
}

button:nth-child(4){
	background-color: #F9E2A6;
}
button:nth-child(8){
	background-color: #CCFCC5;
}
button:nth-child(12){
	background-color: #FFC9C9;
}
button:nth-child(16){
	background-color: #B6DAFB;
}
#del{
	background-color: #FC6A03;
	margin-left: 15px;
	color: #FFFFFF;
}
button:nth-child(5){
	margin-left: 15px;
}
button:nth-child(9){
	margin-left: 15px;
}
button:nth-child(13){
	margin-left: 15px;
}
button:nth-child(17){
	margin-left: 15px;
}